<html>
<head>
    <!-- d3 version 4.13.0 -->
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/clustering.js"></script>
    <script type="text/javascript" src="javascripts/init.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<span class="fa fa-bars config-toggle"></span>
<div id="config" class="config">
    <span class="label label-info param" style="font-size: 11px">Heatmap Gene Expression Demo</span>

    <div class="param">
        <span class="label label-default" style="font-size: 11px;">Clustering </span>

        <p>Hierarchical Clustering</p>
    </div>

    <div class="param" style="margin-bottom: 5px">
        <span class="label label-default" style="font-size: 11px;">Clustering Parameter</span>
    </div>
    <div class="param">
        <div class="dropdown">
            <input class="dropdown-toggle" type="text">
            <div id="param-toggle" class="dropdown-text">single</div>
            <ul id="param-dropdown" class="dropdown-content">
                <li><a href="#">single</a></li>
                <li><a href="#">complete</a></li>
                <li><a href="#">average</a></li>
                <li><a href="#">weighted</a></li>
                <li><a href="#">centroid</a></li>
                <li><a href="#">median</a></li>
                <li><a href="#">ward</a></li>
            </ul>
        </div>
    </div>

    <div class="param" style="margin-bottom: 5px">
        <span class="label label-default" style="font-size: 11px;">Color</span>
    </div>
    <div class="param"  style="margin-bottom: 5px">
        <div class="btn-group btn-group-justified" style="width:100%">
            <div class="btn-group" style="width:33%">
                <!--"#00ff00", "#000000", "#ff0000" default-->
                <button style="background-color: #00ff00; width:100%" class="btn btn-default" href="#"
                        id="btn-color1" onclick="drawCanvas('canvas_picker1')"></button>
            </div>
            <div class="btn-group" style="width:33%">
                <button style="background-color: #000000; width:100%" class="btn btn-default" href="#"
                        id="btn-color2" onclick="drawCanvas('canvas_picker2')"></button>
            </div>
            <div class="btn-group" style="width:33%">
                <button style="background-color: #ff0000; width:100%" class="btn btn-default" href="#"
                        id="btn-color3" onclick="drawCanvas('canvas_picker3')"></button>
            </div>
            <canvas width="234" height="142" name="canvas_picker" id="canvas_picker1"
                    style="display:none;"></canvas>
            <canvas width="234" height="142" name="canvas_picker" id="canvas_picker2"
                    style="display:none;"></canvas>
            <canvas width="234" height="142" name="canvas_picker" id="canvas_picker3"
                    style="display:none;"></canvas>
        </div>
    </div>
    <div class="param">
        <div class="dropdown">
            <input class="dropdown-toggle" type="text">
            <div id="color-toggle" class="dropdown-text" value="Green, Black, Red">Green, Black, Red</div>
            <ul id="color-dropdown"  class="dropdown-content">
                <li><a href="#" value="Green, Black, Red">Green, Black, Red</a></li>
                <li><a href="#" value="Blue, White, Red">Blue, White, Red</a></li>
                <li><a href="#" value="Red, Orange, Yellow">Red, Orange, Yellow</a></li>
            </ul>
        </div>
    </div>
    <div class="param">
        <span class="label label-default" style="font-size: 11px;">Axis </span>
        <div id="radioBtn">
            <input type="radio" id="r1" name="rate" checked="checked"> Both
            <input type="radio" id="r2" name="rate"> X-Axis
            <input type="radio" id="r3" name="rate"> Y-Axis
        </div>
    </div>
    <div class="param">
        <input type="button" style="background-color : #818a91; width:100%" value="Run Cluster" id="clusterBtn">

        </input>
    </div>

    <div class="legend" style="display: inline-block">
        <span class="label label-default" style="font-size: 11px; margin-bottom: 5px">Legend </span>
    </div>

    <span class="writtenby" style="font-size: 12px; ">Written By ChungYi347</span>
</div>
</body>
</html>